---
layout: "layouts/base.liquid"
---

{% if page.url == '/sponsors/' %}

  <h1>Sponsors</h1>

  <p>The Randolph Ramble wouldn’t have happened without our sponsors. Please support them!</p>

  <div class="sponsors">
    {% for sponsor in sponsors %}
      <a href="{{ sponsor.link }}" target="_blank">
        <img src="{{ sponsor.logo_file }}" width="{{ sponsor.logo_width }}" height="{{ sponsor.logo_height }}" alt="{{ sponsor.name }} logo">
      </a>
    {% endfor %}
  </div>

{% endif %}

{{ content }}

{% if page.url == '/' or page.url == '/course/' %}

  {% if registration.is_open == true %}
    {% include "partials/registration_button.njk" %}
  {% endif %}

{% endif %}

{% if page.url == '/contact/' %}

  {% include "partials/contact-form.liquid" %}

{% endif %}
