---
title: Results
permalink: /results/index.html
---

{% block main %}

{% assign eventsWithResults = collections.all | where: "data.eventWithResults", true | sort: "data.edition" | reverse %}
{% assign mostRecentEventResults = eventsWithResults | first %}
{% assign mostRecentEdition = mostRecentEventResults | map: "data.edition" | first %}
{% assign allEditions = eventsWithResults | map: "data.edition" %}

  <header class="results-header">
    <h1>
      {{ mostRecentEdition }} Results
    </h1>
    <dl>
      <dt>Year:</dt>
      <dd>
        {% for edition in allEditions %}
        {% if mostRecentEdition == edition %}
          <span>{{ edition }}</span>
        {% else %}
          <span><a href="/results/{{ edition }}/">{{ edition }}</a></span>
        {% endif %}
        {% endfor %}
      </dd>
    </dl>
  </header>

  <table class="results-table">
    <caption>
      {{ mostRecentEventResults.data.date | formatDateEastern }}
    </caption>
    <thead>
      <th scope="col">Pos</th>
      <th scope="col" style="width:100%">Name</th>
      <th scope="col">Time</th>
    </thead>
    <tbody>
      {% for result in mostRecentEventResults.data.results %}
      <tr>
        <td>
          {{ result.position }}
        </td>
        <td style="width:100%">
          {{ result.name }}
        </td>
        <td>
          {{ result.time_as_string }}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

{% endblock %}