---
pagination:
  data: eventYears
  size: 1
  alias: year
eleventyExcludeFromCollections: true
permalink: "/results/{{ year }}/index.html"
eleventyComputed:
  title: "{{ year }} Results"
---

{% block main %}

  <header class="results-header">
    <h1>
      {{ year }} Results
    </h1>
    <dl>
      <dt>Results by Year:</dt>
      {% assign currentYear = year %}
      {% for eventYear in eventYears %}
        {% if currentYear == eventYear %}
          <dd>{{ eventYear }}</dd>
        {% else %}
          <dd><a href="/results/{{ eventYear }}/">{{ eventYear }}</a></dd>
        {% endif %}
      {% endfor %}
    </dl>
  </header>

  {% assign currentYearResults = results | where: 'year', year %}
  <table id="results-{{ year }}">
    <caption>
      {{ currentYearResults[0].event_date | date: "%A, %B %d, %Y" }}
    </caption>
    <thead>
      <th scope="col">Pos</th>
      <th scope="col" style="width:100%">Name</th>
      <th scope="col">Time</th>
    </thead>
    <tbody>
      {% assign currentYearResults = currentYearResults | sort: "position" %}
      {% for result in currentYearResults %}
      <tr>
        <td>
          {{ result.position }}
        </td>
        <td style="width:100%">
          {{ result.name }}
        </td>
        <td>
          {{ result.time_as_string }}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

{% endblock %}
