---
title: Results
permalink: /results/index.html
---

{% block main %}

  {% assign mostRecentResults = results | where: "year", latestYear %}
  <header class="results-header">
    <h1>
      {{ latestYear }} Results
    </h1>
    <dl>
      <dt>Results by Year:</dt>
      {% assign currentYear = latestYear %}
      {% for eventYear in eventYears %}
        {% if currentYear == eventYear %}
          <dd>{{ eventYear }}</dd>
        {% else %}
          <dd><a href="/results/{{ eventYear }}/">{{ eventYear }}</a></dd>
        {% endif %}
      {% endfor %}
    </dl>
  </header>

  <table id="results-{{ latestYear }}">
    <caption>
      {{ mostRecentResults[0].event_date | date: "%A, %B %d, %Y" }}
    </caption>
    <thead>
      <th scope="col">Pos</th>
      <th scope="col" style="width:100%">Name</th>
      <th scope="col">Time</th>
    </thead>
    <tbody>
      {% assign mostRecentResults = mostRecentResults | sort: "position" %}
      {% for result in mostRecentResults %}
      <tr>
        <td>
          {{ result.position }}
        </td>
        <td style="width:100%">
          {{ result.name }}
        </td>
        <td>
          {{ result.time_as_string }}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

{% endblock %}